<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="../admin/dashboard" class="brand-link">
        <img src="/adminWeb/dist/img/AdminLTELogo.png" 
            alt="AdminLTE Logo" 
            class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">Node Store</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="/adminWeb/dist/img/user2-160x160.jpg" 
                        class="img-circle elevation-2" 
                        alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Jeetu Developer</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item has-treeview menu-open">
                    <a href="/admin/dashboard" class="nav-link active">
                        <i class="nav-icon fa fa-dashboard"></i>
                        <p> Dashboard</p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="/admin/categories" class="nav-link">
                        <i class="nav-icon fa fa-list"></i>
                        <p> Category</p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="/admin/categories" class="nav-link">
                        <i class="nav-icon fa fa-list"></i>
                        <p>
                            Settings
                            <i class="fa fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="pages/UI/general.html" class="nav-link">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>General</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/UI/icons.html" class="nav-link">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Icons</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/UI/buttons.html" class="nav-link">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Buttons</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/logout" class="nav-link">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Logout</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>